.container-about {
  margin: 5rem auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--white-smoke-color);
}

.about-left {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  max-width: auto;
}

.left-skills {
  margin: 1rem 0;
}

.about-right img {
  border-radius: 100%;
  width: 100%;
  max-width: 180px;
  margin: 0 2.5rem;
  height: auto;
}

.tech-stack {
  margin-top: 1rem;
  margin-left: 1.1rem;
}


.about-see {
  border-bottom: 1px solid var(--purple-color);
  padding-bottom: 2px;
  max-width: fit-content;
}

.text-sbu {
  cursor: pointer;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
}

.text-sbu:hover {
  transition: 350ms;
  background: linear-gradient(
    90deg,
    #2b2827 2.73%,
    #c61313 71.63%,
    #e9eeef 100%
  );
  background-size: 400vh;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: text-move infinite 3s alternate;
}

@media (max-width: 425px) {
  .about-left {
    padding: 10px;
    text-align: left;
    max-width: 100%;
  }

  .container-about {
    display: block;
  }

  .about-right img {
    margin: 0rem;

  }

}

